//botones

@mixin boton($color){
    background-color: $color;
    padding: 0.5rem 1rem;
    display: block;
    margin-top: 1rem;;
    text-decoration: none;
    text-align: center;
    color: $blanco-principal;
}

@mixin box-sizing($box-model){
    box-sizing: $box-model;
}

@mixin background-image($image){
    background-image: url($image);
    background-repeat: no-repeat;
    background-position: center center;
}
@mixin gradiente($color1,$color2){
  

    background-image: linear-gradient(to right, $color1 0%, $color2 100%);

}

@mixin telefono{
    @media only screen and ( min-width:#{$telefono}){
        @content;
    }
}

@mixin tablet{
    @media only screen and ( min-width:#{$tablet}){
        @content;
    }
}

@mixin desktop{
    @media only screen and ( min-width:#{$desktop}){
        @content;
    }
}