//colores
$azul-principal : #33c3f0;
$blanco-principal : #ffffff;
$gris-principal : #f1f1f1;
$morado-principal : #741d51;
$rojo-principal : #e44e52;
$negro-principal: #000000; 
//Fuentes
$fuente-raleway:  'Raleway', sans-serif;







//Variables para los tamaños de mediaquerys


$telefono : 480px;
$tablet : 768px;
$desktop : 1024px;